
<h1>CD Organizer <small>Add a CD here!</small></h1>
  <form action="/mycd" method="post">
    <label for="album">Album Name:</label>
    <input id="album" name="album" type="text">

    <label for="artist">Artist Name:</label>
    <input id="artist" name="artist" type="text">
      <button name="submit" class="btn btn-success">Add CD</button>
  </form>

  <form action="/clear"><button type="submit" class="btn btn-danger">Clear all CDs</button>
  </form>

  <h4>Here are your CDs!</h4>

    <ul>
      <% @cds.each() do |cd| %>
        <li><a href="/mycd/<%= cd.id() %>"><%= cd.album() %></a></li>
      <% end %>
    </ul>

  <form action="/artist" method="get">
    <label for="search_artist">Search by artist: </label>
    <input id="search_artist" name="search_artist" type="text">
    <button name="submit" class="btn btn-primary">Search</button>
  </form>
  <br>
  <p> Copyright 2015. Created by Carli Martinez and Amy Johnson </p>
